<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.popcorn.mappers.MemberMapper">

	<!-- id 속성은 DAO 의 메소드와 같아야 한다. 여기의 boardVO 는 mybatis-confg.xml 에 Alias 되어 
		있습니다. -->

	<!-- 상품 등록 -->
	<insert id="register">
		insert into goods (gdsId, gdsName, cateCode, gdsPrice, gdsStock, gdsDes,
		gdsImg, gdsThumbImg)
		values (goods_seq.nextval, #{gdsName}, #{cateCode}, #{gdsPrice}, #{gdsStock}, #{gdsDes},
		#{gdsImg}, #{gdsThumbImg})
	</insert>

	<!-- 상품 목록 -->

	<select id="goodsList" resultType="com.popcorn.domain.GoodsViewVO">
		select
		g.gdsId, g.gdsName, g.catCode, c.catCodeRef, c.catName, gdsPrice, gdsStock, gdsDes, gdsImg, gdsDate,
		g.gdsImg, g.gdsThumbImg
		from goods g
		inner join cat c
		on g.catCode = c.catCode
	</select>


	<!-- 상품 조회 + 카테고리 조인-->
	<select id="goodsView" resultType="com.popcorn.domain.GoodsViewVO">
		select
		g.gdsId, g.gdsName, g.catCode, c.catCodeRef, c.catName, gdsPrice, gdsStock, gdsDes, gdsImg, gdsDate,
		g.gdsImg, g.gdsThumbImg
		from goods g
		inner join cat c
		on g.cateCode = c.catCode
		where g.gdsId = #{gdsId}
	</select>

	<!-- 상품 수정 -->
	<update id="goodsModify">
		update goods
		set
		gdsName = #{gdsName},
		cateCode = #{catCode},
		gdsPrice = #{gdsPrice},
		gdsStock = #{gdsStock},
		gdsDes = #{gdsDes},

		gdsImg = #{gdsImg},
		gdsThumbImg = #{gdsThumbImg}

		where gdsId = ${gdsId}
	</update>

	<!-- 상품 삭제 -->
	<delete id="goodsDelete">
		delete
		goods
		where gdsId = #{gdsId}
	</delete>

	<!-- 카테고리 -->
	<sql id="cat">
		<if test="catCode != null" >
			<if test="catCode == popcorn">
					and catCode = popcorn
			</if>
				<if test="catCode == drink">
					and catCode = drink
				</if>
					<if test="catCode == hotdog">
						and catCode = hotdog
					</if>
						<if test="catCode == Squid">
							and catCode = Squid
						</if>

			</if>

	</sql>


</mapper>