<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.popcorn.mapper.AdminMapper">

	<!-- id 속성은 DAO 의 메소드와 같아야 한다. 여기의 boardVO 는 mybatis-confg.xml 에 Alias 되어 
		있습니다. -->

	<!-- 상품 등록 -->
	<insert id="register">
		insert into goods (gdsId, gdsName,gdsCat , gdsPrice, gdsStock, gdsDes,
		gdsImage, gdsDate)
		values (goods_seq.nextval, #{gdsName}, #{gdsCat}, #{gdsPrice}, #{gdsStock}, #{gdsDes},
		#{gdsImage}, sysdate)
	</insert>

	<!-- 상품 목록 -->

	<select id="goodsList" resultType="org.popcorn.domain.GoodsVO">
		select
		gdsId, gdsName, gdsCat, gdsPrice, gdsStock, gdsDes, gdsImage, gdsDate,
		gdsImage
		from goods
		order by gdsId
	</select>


	<!-- 상품 조회 + 카테고리 조인-->
	<select id="goodsView" resultType="org.popcorn.domain.GoodsVO">
		select
		gdsId,  gdsName, gdsCat, gdsPrice, gdsStock, gdsDes, gdsImage, gdsDate,
		gdsImage
	    from goods
		where gdsId = #{gdsId}
	</select>

	<!-- 상품 수정 -->
	<update id="goodsModify">
		update goods
		set
		gdsName = #{gdsName},
		gdsCat = #{gdsCat},
		gdsPrice = #{gdsPrice},
		gdsStock = #{gdsStock},
		gdsDes = #{gdsDes},
		gdsImage = #{gdsImage},

		where gdsId = ${gdsId}
	</update>

	<!-- 상품 삭제 -->
	<delete id="goodsDelete">
		delete
		goods
		where gdsId = #{gdsId}
	</delete>

	<!-- 카테고리 -->
	<sql id="cat">
		<if test="gdsCat != null" >
			<if test="gdsCat == popcorn">
					and gdsCat = popcorn
			</if>
				<if test="gdsCat == drink">
					and gdsCat = drink
				</if>
					<if test="gdsCat == hotdog">
						and gdsCat = hotdog
					</if>
						<if test="gdsCat == snack">
							and gdsCat = snack
						</if>

			</if>

	</sql>


	<!-- 모든 유저의 주문 목록 -->
	<select id="orderList" resultType="org.popcorn.domain.OrderVO">
		select
		orderId, orderPhone, amount, orderDate, delivery
		from tbl_order
	</select>

	<!-- 특정 주문 목록 -->
	<select id="orderView" resultType="org.popcorn.domain.OrderListVO">
		select
		o.orderId,o.orderPhone, o.amount, o.orderDate, o.delivery,
		d.orderDetailsNum, d.gdsId, d.cartStock,
		g.gdsName, g.gdsPrice
		from tbl_order o
		inner join tbl_order_details d
		on o.orderId = d.orderId
		inner join goods g
		on d.gdsId = g.gdsId
		where o.orderId = #{orderId}
	</select>

	<!-- 배송 상태 -->
	<update id="delivery">
		update tbl_order
		set delivery = #{delivery}
		where orderId = #{orderId}
	</update>

	<delete id="orderDelete">
		delete tbl_order
		where orderId = #{orderId}
	</delete>


	<!-- 상품 수량 조절 -->
	<update id="changeStock">
		update goods
		set gdsStock = gdsStock - #{gdsStock}
		where gdsId = #{gdsId}
	</update>

</mapper>