<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.popcorn.mappers.MemberMapper">

	<!-- id 속성은 DAO 의 메소드와 같아야 한다. 여기의 boardVO 는 mybatis-confg.xml 에 Alias 되어 
		있습니다. -->

	<!-- 상품 등록 -->
	<insert id="register">
		insert into goods (gdsId,userId, gdsName,gdsCat , gdsPrice, gdsStock, gdsDes,
		gdsImg, gdsDate)
		values (goods_seq.nextval, #{gdsName}, #{gdsCat}, #{gdsPrice}, #{gdsStock}, #{gdsDes},
		#{gdsImg}, sysdate)
	</insert>

	<!-- 상품 목록 -->

	<select id="goodsList" resultType="com.popcorn.domain.GoodsViewVO">
		select
		gdsId, gdsName, catCode, catCodeRef, catName, gdsPrice, gdsStock, gdsDes, gdsImg, gdsDate,
		gdsImg
		from goods
		order by gdsId
	</select>


	<!-- 상품 조회 + 카테고리 조인-->
	<select id="goodsView" resultType="com.popcorn.domain.GoodsViewVO">
		select
		gdsId, userId , gdsName, catCode, catCodeRef, catName, gdsPrice, gdsStock, gdsDes, gdsImg, gdsDate,
		gdsImg
	    from goods
		where gdsId = #{gdsId}
	</select>

	<!-- 상품 수정 -->
	<update id="goodsModify">
		update goods
		set
		gdsName = #{gdsName},
		gdsCat = #{gdsCat},
		gdsPrice = #{gdsPrice},
		gdsStock = #{gdsStock},
		gdsDes = #{gdsDes},

		gdsImg = #{gdsImg},

		where gdsId = ${gdsId}
	</update>

	<!-- 상품 삭제 -->
	<delete id="goodsDelete">
		delete
		goods
		where gdsId = #{gdsId}
	</delete>

	<!-- 카테고리 -->
	<sql id="cat">
		<if test="gdsCat != null" >
			<if test="gdsCat == popcorn">
					and catCode = popcorn
			</if>
				<if test="gdsCat == drink">
					and catCode = drink
				</if>
					<if test="gdsCat == hotdog">
						and catCode = hotdog
					</if>
						<if test="gdsCat == Squid">
							and catCode = Squid
						</if>

			</if>

	</sql>


</mapper>