<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.popcorn.mappers.ShopMapper">

	<select id="list" resultType="org.popcorn.domain.GoodsVO">
		select
		gdsId, gdsName, gdsCat, gdsPrice, gdsStock, gdsDes, gdsImg, gdsDate
		from goods
		order by gdsId
	</select>

	<select id="goodsView" resultType="org.popcorn.domain.GoodsVO">
		select
		gdsId, gdsName, gdsCat, gdsPrice, gdsStock, gdsDes, gdsImg, gdsDate
		from goods
		where gdsId = #{gdsId}
	</select>

	<!-- 카테고리 -->
	<sql id="cat">
		<if test="gdsCat != null" >
			<if test="gdsCat == popcorn">
				and catCode = popcorn
			</if>
			<if test="gdsCat == drink">
				and catCode = drink
			</if>
			<if test="gdsCat == hotdog">
				and catCode = hotdog
			</if>
			<if test="gdsCat == Snack">
				and catCode = Snack
			</if>

		</if>

	</sql>

</mapper>